# See http://help.github.com/ignore-files/ for more about ignoring files.

# Regenerable files
/node_modules/

# Temporary files
/tmp/
/coverage/
/.nyc_output/

# Log files
/*.log

# Sensitive files
/.env
